# Core
numpy>=1.24.0
matplotlib>=3.7.1
pandas>=2.0.0
pathlib

# Machine Learning & AI
langchain>=0.0.331
langchain-community
langchain_openai
sentence-transformers>=2.2.2
openai>=0.27.8
tiktoken>=0.5.0

# Vector Stores
pinecone-client[grpc]>=2.2.2
tiledb>=0.24.1
tiledb-cloud>=0.9.3
tiledb-vector-search>=0.0.18

# Document Processing
pypdf>=3.9.0
python-dotenv>=1.0.0

